*{
    overflow-x: hidden;
}

.black_hover:hover{
    color: black;
}

.Join_hover:hover{
    background-color: #F0F7FE;
    color:#004182;
}

.sign_hover:hover{
    background-color:#004182

}

.tag_hover:hover{
    background-color:#F5F5F5;
    
}

.tag_hover_w:hover{
    background-color: white;
}

.three_point:hover{
    background-color:#E1DAD0;
}

#big_img{
    overflow-x: hidden;
    overflow-y: hidden;

}

.you-body{
    position: relative;
    
}

.you{
    position: absolute;
    top: 4350px;
    right: 900px;
    
}

.big_img{
    background-image: url(./assest/last_long_img);
    background-position: bottom;
}

